* {
  box-sizing: border-box;
  font-family: Meiryo;
}

h1 {
  font-size: 50px;
}

.container {
  width: clamp(375px, 100vw, 1170px);  
  margin: 0 auto;
}


/* header */
.header {
  height: 65px;
  width: 100vw;
  padding: 0 30px;
  background: rgba(55,55,55,0.7);
  position: fixed;
  z-index: 10;
  line-height: 65px;
}
.logo {
  float: left;
}
.logo h1 {
  color: #f8f8ff;
  font-size: 30px;
}
.logo span {
  color: #ccdb43;
}
.nav  {
  float: right;
}
.navItem {
  float: left;
  padding-right: 30px;
}
.navItem a {
  color: #fff;
  text-decoration: none;
}

.hamburgerMenu {
  float: right;
  padding-right: 30px;
  display: none;
}
#nav-drawer {
  position: relative;
}
/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}
/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 30px;/*長さ*/
  border-radius: 3px;
  background: #FFF;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -12px;
}
#nav-open span:after {
  bottom: -24px;
}

#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}
#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.burgerList {
  padding-left: 30px;
}
.burgerItem {
  height: 50px;
}
.burgerItem a {
  color: rgba(55,55,55,0.7);
  font-size: 20px;
  font-weight: 200;
  text-decoration: none;
}
.burgerItem a:hover {
  color: rgba(13,13,13,1);
  font-size: 23px;
  font-weight: 400;

}


/* eyecatch */
.eyecatch {
  margin: 0 auto;
  height: 800px;
  width:100vw;
  background-image: url("../picture/moning_glow_forest.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fadeLogo {
  margin: o auto;
  width: 50%;
  font-size: 50px;
  color: #d3d3d3;
  transform: translateY(20px);
}


/* services */
.services {
  margin-top: 160px;
}

.titleProperty {
  text-align: center;
  font-weight: 700;
}
.serviceTitle {
  margin-bottom: 100px;
}
.serviceContents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.serviceContents-lwr {
  padding-top: 75px;
}
.serviceItem {
  width: 200px;
  height: 280px;
  text-align: center;
  padding-top:  50px;
  border: 1px solid rgba(55, 55, 55, 0.1);
  border-radius: 5px;
}
.serviceIcon {
  padding-bottom: 30px;
}
.serviceIcon h2 {
 padding-top: 25px;
}


/* portfolio */
.portfolio {
  margin-top: 160px;
  height: 480px;
  width:100vw;
  background-image: url("../picture/city_bridge.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;

}


/* campaign */
.campaign {
  margin-top: 160px;
}
.campaignTitle {
  padding-bottom: 60px;
}
.campaignTitle h1 {
  padding-bottom: 30px;
}
.campaign p {
  font-size: 15px;
  font-weight: 400;
  text-align:center;
  line-height: 1.5;
}
.campaignContents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.campaignItem {
  height: 500px;
  width: clamp(200px, 30%, 400px);  
  text-align: center;
  margin: 20px;
  border: 1px solid rgba(55, 55, 55, 0.1);
  border-radius: 5px;
}
.campaignItem h2 {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 550;
}
.campaignText {
  padding: 40px;
}
.campaignText p {
  padding-bottom: 15px; 
  font-weight: 400;
}
.campaignIcon {
  display: flex;
  justify-content: center;
}
.campaignText li {
  padding-bottom: 5px;
}

/* contact */
.contact {
  background: #424242;
  height: 710px;
}

.contactTitle {
  font-size: 60px;
  color: #ffa500;
  padding-top: 80px;
  margin-bottom: 50px;
}
.contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formPosition {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 20px;
}
.formPosition label{
  font-size: 16px;
  color: #d7d7d7;
  padding-bottom: 5px;
}
.formPosition input {
  height: 32px;
 
}
.formWindow {
  width: 320px;
}
.row-10 {
  height: calc( 13px * 10 );
  line-height: 13px;
}


.fadein {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 2s;
}

/*  */
@media screen and (max-width: 1000px) {
  .nav {
    display: none;
  }
  .hamburgerMenu {
    display: block;
  }
}